/* General styles */
body {
  margin: 0;
  font-family: 'Garamond', serif; /* Apply Garamond font */
  background-color: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #1c1c1c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.frequencyInputs {
  margin-bottom: 20px;
}

.label {
  font-size: 1.2rem;
  margin: 5px;
}

.input {
  width: 200px;
  margin-bottom: 10px;
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
  padding: 8px;
  border-radius: 5px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
}

.button {
  padding: 15px 30px;
  background-color: #1c1c1c;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #444;
}

/* Responsive design */
@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  .input {
    width: 100%;
  }

  .buttonContainer {
    flex-direction: column;
  }

  .button {
    width: 100%;
    margin-bottom: 10px;
  }
}
